doctype html
html
    header
        title JS. Проверь свои знания
    body
        h2 Онлайн тест - "Как я знаю JS?"
        p Для прохождения теста авторизируйтесь на сайте
        form(method='post')
            input(type='email' name='email')
            input(type='submit')
        
