doctype html
html
    header
        title JS. Проверь свои знания
    body
        h1 Вопрос №1
        h3 Чему равна переменная day ?
        code var day = parseInt("08.01.2008".split('.')[0]);
        form(method='post')
            div
                input(type="radio" id="answ0" name="answ" value="-1") 
                label(for="answ0") Зависит от браузера
            div
                input(type="radio" id="answ1" name="answ" value="0") 
                label(for="answ1") 0
            div
                input(type="radio" id="answ2" name="answ" value="8") 
                label(for="answ2") 8
            div
                input(type="radio" id="answ3" name="answ" value="2") 
                label(for="answ3") 2
            div
                input(type="radio" id="answ4" name="answ" value="100") 
                label(for="answ4") Другое

            input(type='submit')        